.cv-container {
  right: 0;
  left: 0;
}

.cv-jumbotron {
  margin-top: 3.5rem;
  margin-bottom: 0;
}
.resume {
  margin-top: -1rem;
}
.react-pdf__Document {
  border-radius: 0.25rem !important;
  max-width: 100%;
  position: relative;
}
.react-pdf__Page {
  box-shadow: 0 3rem 4rem 0 rgba(16, 36, 94, 0.2);
}
.react-pdf__Page__svg {
  width: auto !important;
  height: auto !important;
  border: solid #f8f9fa;
  border-width: 0rem;
  border-radius: 0.25rem !important;
  svg {
    border-radius: 0.25rem !important;
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    background-color: white;
  }
}
.react-pdf__Page__textContent {
  width: auto !important;
  height: auto !important;
  border: solid #f8f9fa;
  border-width: 0rem;
  border-radius: 0.25rem !important;
}
.react-pdf__Document:hover .page-controls {
  opacity: 1;
}
.page-controls {
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: white;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity ease-in-out 0.2s;
  box-shadow: 0 3rem 4rem 0 rgba(16, 36, 94, 0.2);
  border-radius: 0.25rem !important;
  button {
    width: 3rem;
    height: 3rem;
    background: white;
    border: 0;
    font: inherit;
    font-size: 0.8em;
    border-radius: 0.25rem !important;
  }
  button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  span {
    font: inherit;
    font-size: 0.8em;
    padding: 0 0.5em;
  }
}
