// HEADER

.port-navbar.port-nav-base {
  width: 100%;
  z-index: 15;
  padding: 40px;

  .port-navbar {
    &-brand {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        // color: $primary;
      }

      &:hover,
      &:focus {
        // color: $primary;
      }
    }
  }

  .port-dropdown-menu {
    .port-dropdown-item {
      // color: $secondary;

      &.active {
        // color: $primary;
      }
    }

    .port-dropdown-toggle {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.port-navbar.port-nav-base.port-nav-default {
  padding: 30px;
}

.bg-transparent.menu-open {
}

.bg-transparent.menu-close {
  transition: 1s;
}
