// HEADER

.port-navbar.port-nav-base {
  width: 100%;
  z-index: 15;
  padding: 40px;

  .port-navbar {
    &-brand {
      color: $main-color-white;
      background-color: $main-color-black;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: $main-color-white;
      background-color: $main-color-black;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        color: $primary;
      }

      &:hover,
      &:focus {
        color: $primary;
      }
    }
  }

  .port-dropdown-menu {
    .port-dropdown-item {
      color: $secondary;

      &.active {
        color: $primary;
      }
    }

    .port-dropdown-toggle {
      color: $main-color-white;
      background-color: $main-color-black;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.port-navbar.port-nav-base.port-nav-default {
  padding: 30px;
  background-color: $main-color-black;
}

.bg-transparent.menu-open {
  background-color: $main-color-black;
}

.bg-transparent.menu-close {
  transition: 1s;
}
