.index-header {
  width: 100%;
  // background-image: url('/images/landingPage/background-index-2000w.jpg');
  // background-repeat: no-repeat, no-repeat;
  // height: 580px;
  position: relative;
  // background-color: lightgray;
  background: url('/images/landingPage/background-index-2000w.jpg') no-repeat,
    radial-gradient(circle, black, white);
  // linear-gradient(black, white);
}
.welcome {
  margin-bottom: 23vh;
}
