.banner-text {
  // margin-top: 5rem;
  position: absolute;
  top: 3.5rem;
  right: 0;
  left: 0;
}
.components-container {
  background-color: grayscale($color: #000000);
  padding-bottom: 1rem;
}
.about {
  margin-top: -1rem;
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-up(sm) {
  .banner-text {
    top: 3rem;
  }
  .about {
    margin-top: -2rem;
  }
}
//max-width: 767.98px
@include media-breakpoint-up(md) {
  .banner-text {
    top: 4rem;
  }
  .about {
    margin-top: -4rem;
  }
}
//min-width 992px
@include media-breakpoint-up(lg) {
  .banner-text {
    top: 5rem;
  }
  .about {
    margin-top: -3rem;
  }
}
// Large devices (desktops, less than 1200px)
@include media-breakpoint-up(xl) {
  .about {
    margin-top: -3rem;
  }
}
