@use './shared/colors';
@import './shared/colors';
@import './shared/mixins';

// PAGES
@import './loader';
@import './index';
@import './portfolios';
@import './about';
@import './cv';
@import './modal';
@import './buttons';

// COMPONENTS
@import './header';
@import './slate-editor';

$font-stack: Helvetica, sans-serif;

html,
body {
  height: 100%;
  width: 100%;
  font-family: $font-stack;
  background-color: $main-color-black;
  color: $main-color-white;
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: $main-color-white;
}

.absolute {
  position: absolute;
}

.error {
  font-weight: 700;
  color: red;
}

.base-page {
  padding: 150px 0 100px 0;
  color: $main-color-white;
  background-color: $main-color-black;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: $main-color-white;
      background-color: $main-color-black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
